.swiper-scrollbar{
  height: 2px !important;
  border-radius: 0 !important;
  background-color: rgba(#fff, .3) !important;
}

.swiper-scrollbar-drag{
  background-color: rgba($color: #fff, $alpha: .3) !important;
  border-radius: 0 !important;
}